<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unbi.connect"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <dist:module dist:instant="true" />
    <!--
 This allows the plug-in to appear on non-touchscreen devices like Google TV.
Be sure to test that the app works without a touchscreen.
    -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <!--
 Although many of these default to true, some users with modified ROMs have
     trouble seeing apps unless these attributes are explicitly set.
    -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        tools:ignore="UnusedAttribute" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_my_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <!-- Main Activity -->
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--FindPhone Activity-->
        <!--<activity-->
            <!--android:name=".activity.FindPhoneActivity"-->
            <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->
            <!--android:showOnLockScreen="true"-->
            <!--android:turnScreenOn="true"/>-->

        <!-- TcpService -->
        <service android:name=".service.TCPservice" /> <!-- Edit Activity -->
        <activity
            android:name=".plugin.event.EventEditActivity"
            android:exported="true"
            android:label="@string/plugin_name"
            android:theme="@style/Theme.AppCompat"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <!--
                  This is the "edit" Activity. Note that the host will reject plug-in
                  Activities for the following reasons:
                      - Missing "android:label=[...]"
                      - Missing "android:icon=[...]"
                      - The Activity isn't exported (e.g. android:exported="false")
                      - The Activity isn't enabled (e.g. android:enabled="false")
                      - The Activity requires permissions not available to the host
        -->
        <activity
            android:name=".plugin.task.TaskEditActivity"
            android:exported="false"
            android:label="@string/plugin_name"
            android:theme="@style/Theme.AppCompat"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="UnusedAttribute" />
        <!--
                  This is the "edit" Activity. Note that the host will reject plug-in
                  Activities for the following reasons:
                      - Missing "android:label=[...]"
                      - Missing "android:icon=[...]"
                      - The Activity isn't exported (e.g. android:exported="false")
                      - The Activity isn't enabled (e.g. android:enabled="false")
                      - The Activity requires permissions not available to the host
        -->
        <!-- <activity-alias -->
        <!-- android:name="com.unbi.connect.plugin.PluginApplicationEvent" -->
        <!-- android:exported="true" -->
        <!-- android:icon="@drawable/draw_lock_connection" -->
        <!-- android:label="@string/plugin_name" -->
        <!-- android:targetActivity="com.unbi.connect.plugin.event.EventEditActivityivity" -->
        <!-- tools:ignore="ExportedActivity"> -->
        <!-- &lt;!&ndash; this Intent filter allows the plug-in to be discovered by the host. &ndash;&gt; -->
        <!-- <intent-filter> -->
        <!-- <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity-alias> -->
        <activity-alias
            android:name=".plugin.PluginApplicationTask"
            android:exported="true"
            android:icon="@drawable/ic_my_icon"
            android:label="@string/plugin_name"
            android:targetActivity=".plugin.task.TaskEditActivity"
            tools:ignore="ExportedActivity">

            <!-- this Intent filter allows the plug-in to be discovered by the host. -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity-alias>
        <!--
            This is the "fire" BroadcastReceiver. Note that the host will reject plug-in
            BroadcastReceivers for the following reasons:
               - The BroadcastReceiver isn't exported (e.g. android:exported="false")
               - The BroadcastReceiver isn't enabled (e.g. android:enabled="false")
               - The BroadcastReceiver requires permissions not available to the host
               - There are multiple BroadcastReceivers for com.twofortyfouram.locale.intent.action.QUERY_CONDITION
        -->
        <receiver
            android:name=".plugin.receiver.FireReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">

            <!-- android:process=":background" -->
            <!-- this Intent filter allows the plug-in to discovered by the host. -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".plugin.receiver.QueryReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">

            <!-- android:process=":background" -->
            <!-- this Intent filter allows the plug-in to discovered by the host. -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
            </intent-filter>
        </receiver>

        <!-- For BroadCastReceiver -->
        <receiver android:name=".MyBroadCastReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>